<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.battlefordentalperfection"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
			android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            
        </activity>
        <receiver android:name=".MyAlarmReceiver" />
     	<activity android:name=".bios" 
         	android:label="@string/app_name"></activity>
     	<activity android:name=".character" 
         	android:label="@string/app_name"></activity>
     	<activity android:name=".gameBase" 
         	android:label="@string/app_name"></activity>
     	<activity android:name=".reminder" 
         	android:label="@string/app_name"></activity>
     	<activity android:name=".gameSplash" 
         	android:label="@string/app_name"></activity>
     	<activity android:name=".game" 
			android:screenOrientation="landscape"
         	android:label="@string/app_name"></activity>
     	<activity android:name=".reminder" 
          android:label="@string/app_name"></activity>
     	<activity android:name=".timer" android:label="@string/app_name"></activity>
     	
    </application>

</manifest>
